<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="ServiceURL" value="http://ASP-PROVIDER-URL"/><!--URl for request provided by ASP-->
    <add key="Certificate" value="~\Files\uidai_preprod.cer"/><!--UIDAI Certificate obtained from UIDAI-->
    <add key="LogFile" value="~\Files\logfile.csv"/><!--KYC Authentication/Data log file location-->
    <add key="DemographicLogFile" value="~\Files\demographic_logfile.csv"/><!--Demographic Authentication log file location-->
    <add key="OTPLogFile" value="~\Files\OTPlogfile.csv"/><!--OTP Requests log file location-->
    <add key="SA" value="ASP-PROVIDED-UID"/><!--UID provided by ASP-->
    <add key="LicenseKey" value="ASP-PROVIDED-LICENSEKEY"/><!--License Key provided by ASP-->
    <add key="ProxyIP" value="SERVER/PROXY-IP"/><!--Proxy IP/Requesting Server IP-->
  </appSettings>
</configuration>